@{
    ViewData["Title"] = "Login with Google";
}

<h2>Login with Google</h2>

<form asp-controller="Login" asp-action="Login" method="post">
    <button type="submit" class="btn btn-primary">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" width="20" height="20">
        Sign in with Google
    </button>
</form>
